/*--------------------------------------------------------------
Loader
--------------------------------------------------------------*/

.pre-loader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999991;
    background-color: #fff;
}

.loader-inner {
    padding: 0;
    position: absolute;
    left: 51%;
    top: 50%;
    text-align: center;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader-inner figure {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin: -60px -50px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 600;
    -moz-perspective: 600;
    perspective: 600;
}

.loader-inner figure span {
    display: block;
    position: absolute;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.loader-inner figure span:after {
    display: block;
    content: "";
    border-style: solid;
    border-color: transparent;
    border-width: 60px 35px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.loader-inner figure span:nth-child(1) {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform: rotate3d(0, 0, 1, 90deg);
    -ms-transform: rotate3d(0, 0, 1, 90deg);
    -o-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
}

.loader-inner figure span:nth-child(1):after {
    border-top-color: var(--wdtPrimaryColor);
    -webkit-transform: rotate3d(0.5, 1, 0, 180deg);
    -moz-transform: rotate3d(0.5, 1, 0, 180deg);
    -ms-transform: rotate3d(0.5, 1, 0, 180deg);
    -o-transform: rotate3d(0.5, 1, 0, 180deg);
    transform: rotate3d(0.5, 1, 0, 180deg);
    -webkit-animation: split 2s 0.1111111111s ease infinite;
    -moz-animation: split 2s 0.1111111111s ease infinite;
    animation: split 2s 0.1111111111s ease infinite;
}

.loader-inner figure span:nth-child(2) {
    -webkit-transform: rotate3d(0, 0, 1, 150deg);
    -moz-transform: rotate3d(0, 0, 1, 150deg);
    -ms-transform: rotate3d(0, 0, 1, 150deg);
    -o-transform: rotate3d(0, 0, 1, 150deg);
    transform: rotate3d(0, 0, 1, 150deg);
}

.loader-inner figure span:nth-child(2):after {
    border-top-color: var(--wdtSecondaryColor);
    -webkit-transform: rotate3d(0.5, 1, 0, 180deg);
    -moz-transform: rotate3d(0.5, 1, 0, 180deg);
    -ms-transform: rotate3d(0.5, 1, 0, 180deg);
    -o-transform: rotate3d(0.5, 1, 0, 180deg);
    transform: rotate3d(0.5, 1, 0, 180deg);
    -webkit-animation: split 2s 0.2222222222s ease infinite;
    -moz-animation: split 2s 0.2222222222s ease infinite;
    animation: split 2s 0.2222222222s ease infinite;
}

.loader-inner figure span:nth-child(3) {
    -webkit-transform: rotate3d(0, 0, 1, 210deg);
    -moz-transform: rotate3d(0, 0, 1, 210deg);
    -ms-transform: rotate3d(0, 0, 1, 210deg);
    -o-transform: rotate3d(0, 0, 1, 210deg);
    transform: rotate3d(0, 0, 1, 210deg);
}

.loader-inner figure span:nth-child(3):after {
    border-top-color: var(--wdtPrimaryColor);
    -webkit-transform: rotate3d(0.5, 1, 0, 180deg);
    -moz-transform: rotate3d(0.5, 1, 0, 180deg);
    -ms-transform: rotate3d(0.5, 1, 0, 180deg);
    -o-transform: rotate3d(0.5, 1, 0, 180deg);
    transform: rotate3d(0.5, 1, 0, 180deg);
    -webkit-animation: split 2s 0.3333333333s ease infinite;
    -moz-animation: split 2s 0.3333333333s ease infinite;
    animation: split 2s 0.3333333333s ease infinite;
}

.loader-inner figure span:nth-child(4) {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    -moz-transform: rotate3d(0, 0, 1, 270deg);
    -ms-transform: rotate3d(0, 0, 1, 270deg);
    -o-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
}

.loader-inner figure span:nth-child(4):after {
    border-top-color: var(--wdtSecondaryColor);
    -webkit-transform: rotate3d(0.5, 1, 0, 180deg);
    -moz-transform: rotate3d(0.5, 1, 0, 180deg);
    -ms-transform: rotate3d(0.5, 1, 0, 180deg);
    -o-transform: rotate3d(0.5, 1, 0, 180deg);
    transform: rotate3d(0.5, 1, 0, 180deg);
    -webkit-animation: split 2s 0.4444444444s ease infinite;
    -moz-animation: split 2s 0.4444444444s ease infinite;
    animation: split 2s 0.4444444444s ease infinite;
}

.loader-inner figure span:nth-child(5) {
    -webkit-transform: rotate3d(0, 0, 1, 330deg);
    -moz-transform: rotate3d(0, 0, 1, 330deg);
    -ms-transform: rotate3d(0, 0, 1, 330deg);
    -o-transform: rotate3d(0, 0, 1, 330deg);
    transform: rotate3d(0, 0, 1, 330deg);
}

.loader-inner figure span:nth-child(5):after {
    border-top-color: var(--wdtPrimaryColor);
    -webkit-transform: rotate3d(0.5, 1, 0, 180deg);
    -moz-transform: rotate3d(0.5, 1, 0, 180deg);
    -ms-transform: rotate3d(0.5, 1, 0, 180deg);
    -o-transform: rotate3d(0.5, 1, 0, 180deg);
    transform: rotate3d(0.5, 1, 0, 180deg);
    -webkit-animation: split 2s 0.5555555556s ease infinite;
    -moz-animation: split 2s 0.5555555556s ease infinite;
    animation: split 2s 0.5555555556s ease infinite;
}

.loader-inner figure span:nth-child(6) {
    -webkit-transform: rotate3d(0, 0, 1, 390deg);
    -moz-transform: rotate3d(0, 0, 1, 390deg);
    -ms-transform: rotate3d(0, 0, 1, 390deg);
    -o-transform: rotate3d(0, 0, 1, 390deg);
    transform: rotate3d(0, 0, 1, 390deg);
}

.loader-inner figure span:nth-child(6):after {
    border-top-color: var(--wdtSecondaryColor);
    -webkit-transform: rotate3d(0.5, 1, 0, 180deg);
    -moz-transform: rotate3d(0.5, 1, 0, 180deg);
    -ms-transform: rotate3d(0.5, 1, 0, 180deg);
    -o-transform: rotate3d(0.5, 1, 0, 180deg);
    transform: rotate3d(0.5, 1, 0, 180deg);
    -webkit-animation: split 2s 0.6666666667s ease infinite;
    -moz-animation: split 2s 0.6666666667s ease infinite;
    animation: split 2s 0.6666666667s ease infinite;
}

@-webkit-keyframes split 
{
0% {-webkit-transform-origin: 50% 100%;-webkit-transform: rotate3d(0.5, 1, 0, 180deg);}
25% {-webkit-transform-origin: 50% 100%;-webkit-transform: rotate3d(0, 1, 0, 360deg);}
50% {opacity: 1;-webkit-transform-origin: 100% 0%;-webkit-transform: rotate3d(0, 1, 0, 360deg);}
75% {opacity: 0;-webkit-transform: rotate3d(0.5, 1, 0, 180deg);}
100% {opacity: 1;-webkit-transform: rotate3d(0.5, 1, 0, 180deg);}
}
@-moz-keyframes split 
{
0% {-moz-transform-origin: 50% 100%;-moz-transform: rotate3d(0.5, 1, 0, 180deg);}
25% {-moz-transform-origin: 50% 100%;-moz-transform: rotate3d(0, 1, 0, 360deg);}
50% {opacity: 1;-moz-transform-origin: 100% 0%;-moz-transform: rotate3d(0, 1, 0, 360deg);}
75% {opacity: 0;-moz-transform: rotate3d(0.5, 1, 0, 180deg);}
100% {opacity: 1;-moz-transform: rotate3d(0.5, 1, 0, 180deg);}
}
@keyframes split {
0% {-webkit-transform-origin: 50% 100%;-moz-transform-origin: 50% 100%;-ms-transform-origin: 50% 100%;-o-transform-origin: 50% 100%;transform-origin: 50% 100%;-webkit-transform: rotate3d(0.5, 1, 0, 180deg);-moz-transform: rotate3d(0.5, 1, 0, 180deg);-ms-transform: rotate3d(0.5, 1, 0, 180deg);-o-transform: rotate3d(0.5, 1, 0, 180deg);transform: rotate3d(0.5, 1, 0, 180deg);}
25% {-webkit-transform-origin: 50% 100%;-moz-transform-origin: 50% 100%;-ms-transform-origin: 50% 100%;-o-transform-origin: 50% 100%;transform-origin: 50% 100%;-webkit-transform: rotate3d(0, 1, 0, 360deg);-moz-transform: rotate3d(0, 1, 0, 360deg);-ms-transform: rotate3d(0, 1, 0, 360deg);-o-transform: rotate3d(0, 1, 0, 360deg);transform: rotate3d(0, 1, 0, 360deg);}
50% {opacity: 1;-webkit-transform-origin: 100% 0%;-moz-transform-origin: 100% 0%;-ms-transform-origin: 100% 0%;-o-transform-origin: 100% 0%;transform-origin: 100% 0%;-webkit-transform: rotate3d(0, 1, 0, 360deg);-moz-transform: rotate3d(0, 1, 0, 360deg);-ms-transform: rotate3d(0, 1, 0, 360deg);-o-transform: rotate3d(0, 1, 0, 360deg);transform: rotate3d(0, 1, 0, 360deg);}
75% {opacity: 0;-webkit-transform: rotate3d(0.5, 1, 0, 180deg);-moz-transform: rotate3d(0.5, 1, 0, 180deg);-ms-transform: rotate3d(0.5, 1, 0, 180deg);-o-transform: rotate3d(0.5, 1, 0, 180deg);transform: rotate3d(0.5, 1, 0, 180deg);}
100% {opacity: 1;-webkit-transform: rotate3d(0.5, 1, 0, 180deg);-moz-transform: rotate3d(0.5, 1, 0, 180deg);-ms-transform: rotate3d(0.5, 1, 0, 180deg);-o-transform: rotate3d(0.5, 1, 0, 180deg);transform: rotate3d(0.5, 1, 0, 180deg);}
}


/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    .pre-loader { background-color: var(--wdtBodyBGColor); }
    .loader-text { background-image: linear-gradient(to right, var(--wdtPrimaryColor) 10%, var(--wdtHeadAltColor) 50%, var(--wdtPrimaryColor) 60%); }


/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

    /*----*****---- << Mobile (Landscape) >> ----*****----*/

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

    }


    /* Common Styles for the devices below 479px width */

    @media only screen and (max-width: 480px) {
        .loader-inner { left: 55%; }
    }