/***<<--- Accordion & Toggle Transition --->>***/

.wdt-accordion-toggle-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

.wdt-accordion-toggle-holder
{
    overflow: hidden;

    width: 100%;
    margin: 0 auto;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper:not(:last-child)
{
    margin-bottom: 20px;
}
.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper
{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder
{
    font-size: 1em;
    line-height: 1;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0 auto;
    padding: 1em 1.5em;

    cursor: pointer;

    border-width: 1px;
    border-style: solid;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title
{
    display: flex;
    align-items: baseline;
    font-family: var(--wdtFontTypo_H1);
    text-transform: capitalize;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix']
{
    line-height: 1;

    position: relative;

    margin: 0 10px 0 0;
    padding: 0 5px 0 0;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix']:not(.icon):before
{
    position: absolute;
    right: 0;
    bottom: 2px;

    width: 3px;
    height: 3px;

    content: '';

    background: currentColor;
}

.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder
{
    flex-direction: row-reverse;
    justify-content: start;
}

.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon
{
    margin: 0 20px 0 0;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon
{
    line-height: normal;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-description{
    padding: 1.5em 2em;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    width: 100%;
    font-family: var(--wdtFontTypo_Base);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon
{
    position: relative;

    display: flex;
    flex-shrink: 0;

    width: 1em;
    height: 1em;

    margin-left: 10px;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon > div
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: auto;
    transition: var(--wdt-Livi-Transition);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-expand']
{
    opacity: 0;
}
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-expand']
{
    opacity: 1;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse']
{
    opacity: 1; 
}
/* .wdt-cus-faq .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse'] { color: var(--wdtAccentTxtColor); } */
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse']
{
    opacity: 0;
}

/* Template Bordered */

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper
{
    margin-bottom: 0;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder
{
    border-width: 2px;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:not(:last-child) .wdt-accordion-toggle-title-holder
{
    margin-bottom: -2px;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-description
{
    padding: 2.5em 2em;

    border-width: 2px;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:last-child .wdt-accordion-toggle-description
{
    border-top: 0;
}
.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:not(:last-child) .wdt-accordion-toggle-description
{
    border-bottom: 0;
}

/* Template Simple */

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-wrapper
{
    margin-bottom: 0;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder
{
    padding: 1.2em 3em 1.2em 0;

    border-width: 0 0 1px;
}

.wdt-accordion-toggle-holder[class*='-template-simple'][class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder
{
    padding: 1.2em 0 1.2em 3em;
}

.wdt-accordion-toggle-holder[class*='-template-simple'][class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon
{
    right: auto;
    left: 0;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 50px;
    height: 50px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon > div
{
    justify-content: center;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-description
{
    padding: 2em 0;

    border-width: 0 0 1px;
}

/* Default Colors */

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder
{
    background-color: rgb(var(--wdt-elementor-color-secondary-rgb), .04);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-description
{
    border-color: rgb(var(--wdt-elementor-color-secondary-rgb), .2);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active
{
    color: var(--wdt-elementor-color-white);
    border-color: var(--wdt-elementor-color-primary);
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active
{
    border-color: #e1e1e1;
    background-color: transparent;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active
{
    color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-description
{
    border-left-color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder
{
    background-color: transparent;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-active
{
    color: var(--wdt-elementor-color-primary);
    border-color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon
{
    background-color: rgb(var(--wdt-elementor-color-secondary-rgb), .04);
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-hover .wdt-accordion-toggle-icon,
.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon
{
    color: var(--wdt-elementor-color-white);
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-classic'] .wdt-accordion-toggle-title-holder
{
    color: var(--wdt-elementor-color-white);
    border-color: var(--wdt-elementor-color-primary);
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-classic'] .wdt-accordion-toggle-description
{
    background: rgb(var(--wdt-elementor-color-primary-rgb), 0.2);
    color: var(--wdt-elementor-color-text);
    border-color: rgb(var(--wdt-elementor-color-primary-rgb), 0.4);
}


/* Custom-faq-section */

.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper { 
    margin-bottom: clamp(1.25rem, 1.1388rem + 0.6135vw, 1.875rem); backface-visibility: hidden; }
.wdt-cus-faq .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder { 
    padding: clamp(1.25rem, 1.1388rem + 0.6135vw, 1.875rem); /*30-20*/ align-items: flex-start; }
.wdt-cus-faq .ui-corner-all,.wdt-cus-faq .ui-corner-bottom,.wdt-cus-faq .ui-corner-right,.wdt-cus-faq .ui-corner-br,.wdt-cus-faq .ui-corner-top{border-radius:0;}
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-description{    
    border-width: 0; padding: clamp(1.25rem, 1.1388rem + 0.6135vw, 1.875rem); /*30-20*/ padding-top: 0; z-index: 1; }
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-description p { margin-bottom: 0; }
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder{border-width:0px;}

.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper {
    position: relative; background-color: var(--wdtAccentTxtColor); border: 1px solid var(--wdtBorderColor); padding: 0; -webkit-transition: var(--wdt-Livi-Transition); transition: var(--wdt-Livi-Transition); -webkit-border-radius: var(--wdtRadius_3X); border-radius: var(--wdtRadius_3X); }
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:has(> .wdt-accordion-toggle-title-holder.ui-state-active), .wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:has(> .wdt-accordion-toggle-title-holder.ui-state-hover) { box-shadow: 0 5px 0px 0 var(--wdtPrimaryColor); }

.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active{
    border-width:0px;border-color: transparent;}
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active{z-index:1;}
.wdt-cus-faq .wdt-accordion-toggle-description.ui-accordion-content-active{position:relative;}
.wdt-cus-faq .wdt-accordion-toggle-title-holder.ui-state-hover .wdt-accordion-toggle-icon{color:var(--wdtHeadAltColor);}
.wdt-cus-faq .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title{     
    color: var(--wdtHeadAltColor); font-size: clamp(1.25rem, 1.2055rem + 0.2454vw, 1.5rem); /*24-20*/ font-family: var(--wdtFontTypo_Alt); 
    font-weight: var(--wdtFontWeight_Ext); line-height: 1.3; -webkit-transition: var(--wdt-Livi-Transition); transition: var(--wdt-Livi-Transition); }
.wdt-cus-faq .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon{color:var(--wdtHeadAltColor); margin-top: 3px;}
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .ui-widget-content{
    background:unset;line-height: var(--wdtLineHeight_Base);font-size: var(--wdtFontSize_Base);}
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:has(.wdt-accordion-toggle-title-holder.ui-state-active), 
.wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:hover {border-color: var(--wdtPrimaryColor);}

@media screen and (min-width: 1281px){
    .wdt-cus-faq .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title{
        padding-right: 10%;
    }
}

.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper{ margin-bottom:0px; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder{ padding:0; align-items: baseline; }
.wdt-cus-bordered-faq .ui-corner-all, .wdt-cus-faq .ui-corner-bottom, .wdt-cus-faq .ui-corner-right, .wdt-cus-faq .ui-corner-br, .wdt-cus-faq .ui-corner-top{ border-radius:0; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-description{ border-width:0; padding:0; padding-top:15px; z-index:1; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder{ border-width:0px; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper{ border-bottom:1px solid rgba(var(--wdtHeadAltColorRgb),0.25); position:relative; padding:25px 15px 25px  0px; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:nth-child(4){ border-bottom:0; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active{ border-width:0px; border-color: transparent; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-title, .wdt-cus-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon{ color: var(--wdtPrimaryColor); transition:var(--wdtBaseTransition); }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title{ transition:var(--wdtBaseTransition); }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder:hover .wdt-accordion-toggle-title{ color:var(--wdtPrimaryColor); background-position:100%; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-description.ui-accordion-content-active{ position:relative; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-title-holder.ui-state-hover .wdt-accordion-toggle-icon{ color:var(--wdtHeadAltColor); }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title {
    color: var(--wdtHeadAltColor);
    font-size: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.25rem);
    font-family: var(--wdtFontTypo_Alt);
    line-height: var(--wdtLineHeight_H6);
}
.wdt-cus-bordered-faq .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon{ color:var(--wdtHeadAltColor); margin-top: 12px; }
.wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .ui-widget-content {
    background: unset;
    line-height: var(--wdtLineHeight_Base);
}
@media screen and (min-width: 1025px){
    .wdt-cus-bordered-faq .wdt-accordion-toggle-holder[class*='-template-bordered'] .ui-widget-content{
        max-width: 80%;
    }
}