
/* Registration Form */

.wdt-registration-form{padding: 80px;background-color: rgba(var(--wdtBodyBGColorRgb),1);width: 100%;max-width: 650px;border-radius: var(--wdtRadius_2X);margin: 0 auto;margin-bottom: 120px;border: 1px solid var(--wdtLinkHoverColor);}
.wdt-registration-form form{margin-top: 60px;}
.wdt-registration-form .livi-custom-auth-sc-border-title h2{text-align: center;}
.wdt-registration-form p{text-align: center;font-weight: calc(var(--wdtFontWeight_Base) - 100);}
.wdt-registration-form p strong{font-weight: calc(var(--wdtFontWeight_Base) - 100);}
.wdt-registration-form form p{text-align: left;color: var(--wdtBodyTxtColor);}
.wdt-registration-form form p:last-child{text-align: center;}
.wdt-registration-form form p a.livi-pro-login-link{color: var(--wdtLinkHoverColor);text-decoration: underline;text-decoration-color: transparent;}
.wdt-registration-form form p a.livi-pro-login-link:hover{text-decoration-color: currentColor;}
.wdt-registration-form form#loginform{display: block;}
.livi-pro-login-description {text-align: center;}
.wdt-registration-form input[type="submit"]{width: 100%;padding: var(--wdtPadding_MiniBtn);padding-top: 14px;padding-bottom: 14px;}
.wdt-registration-form input[type="submit"]:hover{background-color: var(--wdtSecondaryColor);color: var(--wdtAccentTxtColor);}
.livi-pro-login-form-holder #loginform p {margin: 0 0 0 0;}
.livi-pro-login-form-holder #loginform {display: grid;grid-template-columns: repeat(1,1fr);justify-content: space-between;grid-gap: 20px;}

/* Login form */

.livi-pro-login-form-container{display: block;height: 100% !important;margin: 0;padding: 0;pointer-events: none;width: 100%;z-index: 10000;position: fixed;bottom: 0;left: 0;right: 0;top: 0;}
.livi-pro-login-form-overlay{position: fixed;bottom: 0;left: 0;right: 0;top: 0;z-index: 9999;background:rgba(var(--wdtBodyBGColorRgb),1);}
.login-form-custom-logo {text-align: center;margin: 10px 0;margin-bottom: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);  /*----min-20px and max-40px-----*/}
.login-form-custom-logo img {max-width: 170px;}
.livi-pro-login-form-holder >*:not(:last-child),
.livi-pro-login-form-container .livi-pro-login-form >*:not(:last-child) {margin-bottom: 30px;}
.livi-pro-login-form-container .livi-pro-login-form {display: grid;padding: 0;pointer-events: auto;position: absolute;left: 0;right: 0;background-color: rgba(var(--wdtBodyBGColorRgb),1);width: 100%;margin: auto;height: 100%;place-content: center;}
.livi-pro-login-form-container .livi-pro-login-form .livi-pro-login-form-wrapper {padding: 70px;border-radius: var(--wdtRadius_2X);border: 1px solid;max-width: 820px;height: fit-content;overflow-y: auto;max-height: calc(100vh - 2*1.5em);}
.livi-pro-login-form-container .livi-pro-login-form .livi-pro-title.livi-pro-login-title{display: flex;flex-direction: column;align-items: center;margin-bottom: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);  /*----min-20px and max-40px-----*/}
#loginform .login-username, #loginform .login-password{width: 100%;}
#loginform .login-remember{text-align: left;}

#loginform p.login-remember input[type="checkbox"] {  
    position: relative; -webkit-appearance: none; appearance: none; width: 1em; height: 1em; top: 1px; border: 1px solid var(--wdtBorderColor); 
    transform: translateY(-0.075em); display: grid; place-content: center; opacity: 1; -webkit-border-radius: var(--wdtRadius_1X);
    border-radius: var(--wdtRadius_1X); }
    
#loginform p.login-remember input[type="checkbox"], #loginform p.login-remember input[type="checkbox"], #loginform p.login-remember input[type="radio"] {
    -webkit-appearance: none; appearance: none; width: 1em; background: var(--wdtInputBgColor); height: 1em; border: 1px solid var(--wdtBorderColor); transform: translateY(-0.075em); display: grid; place-content: center; }
    
#loginform p.login-remember input[type="checkbox"]:before, #loginform p.login-remember input[type="checkbox"]:before, 
.woocommerce #loginform p.login-remember input[type="radio"]:before {
    content: ""; width: 0.65em; height: 0.65em; clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); transform: scale(0); transform-origin: bottom left; transition: 120ms transform ease-in-out; box-shadow: inset 1em 1em var(--wdtPrimaryColor); }
    
#loginform p.login-remember input[type="checkbox"]:checked:before, #loginform p.login-remember input[type="checkbox"]:checked:before, 
#loginform p.login-remember input[type="radio"]:checked:before { transform: scale(1); }

#loginform p.login-remember label { display: inline-flex; align-items: center; justify-content: flex-start; gap: 5px; margin: 0; }

#loginform input[type="text"]:focus,
#loginform input[type="password"]:focus{border-color: var(--wdtPrimaryColor);}
#loginform .login-submit input[type="submit"]{width: 100%;background-color: var(--wdtPrimaryColor);padding-top: 14px;padding-bottom: 14px;}
#loginform .login-submit input[type="submit"]:hover{background-color: var(--wdtSecondaryColor);color: var(--wdtAccentTxtColor);}
.livi-pro-social-logins-divider{text-align: center;margin: 20px 0;}
.livi-pro-title.livi-pro-login-title h2{text-align: center;margin-top: 0;}
.livi-pro-login-form-container .livi-pro-login-form .livi-pro-login-form-holder p.tpl-forget-pwd{margin-bottom: 0px;}
.livi-pro-login-form-container .livi-pro-login-form .livi-pro-login-form-holder p.tpl-forget-pwd a{color: var(--wdtLinkHoverColor);text-decoration: underline;text-decoration-color: transparent;transition: all 0.3s linear;}
.livi-pro-login-form-container .livi-pro-login-form .livi-pro-login-form-holder p.tpl-forget-pwd a:hover{text-decoration-color: var(--wdtLinkHoverColor);}
a.livi-pro-social-facebook-connect,
a.livi-pro-social-google-connect{width: calc(50% - 20px);padding: var(--wdtPadding_MiniBtn);display: inline-block;text-align: center;color: var(--wdt-elementor-color-black);border-radius: var(--wdtRadius_3X);box-shadow: rgba(var(--wdtLinkHoverColorRgb),1) 0 0 0px;border: 1px solid var(--wdtLinkColor);margin: 10px;font-size: var(--wdtFontSize_Ext);font-weight: var(--wdtFontWeight_Ext);}
a.livi-pro-social-facebook-connect:hover,
a.livi-pro-social-google-connect:hover {background-color: var(--wdtSecondaryColor);color: rgba(var(--wdtAccentTxtColorRgb),1);border-color: rgba(var(--wdtSecondaryColorRgb),1);}
a.livi-pro-social-facebook-connect i,
a.livi-pro-social-google-connect i{margin-right: 10px;}
.livi-pro-login-form-container{max-width: 1640px;margin: auto;}


.wdt-custom-auth-form .mu_register input[type="submit"], 
.wdt-custom-auth-form .mu_register #blog_title, 
.wdt-custom-auth-form .mu_register #user_email, 
.wdt-custom-auth-form .mu_register #blogname, 
.wdt-custom-auth-form .mu_register #user_name{margin: 10px 0;font-size: var(--wdtFontSize_Base);line-height: 1;}

.wp-activate-container form p {font-family: var(--wdtFontTypo_Base);}
.wp-activate-container form p input#key {font-size: var(--wdtBaseTransition);line-height: 1;padding: var(--wdtInputPadding);}
.wp-activate-container form p input#submit {font-size: var(--wdtFontSize_Base);padding: var(--wdtPadding_Btn);font-family: var(--wdtFontTypo_Base);font-weight: var(--wdtFontWeight_Base);line-height: 1;text-transform: uppercase;letter-spacing: var(--wdtLetterSpacing_2X);border: 1px solid var(--wdtPrimaryColor);border-radius: 0;background: var(--wdtPrimaryColor);background-color: var(--wdtPrimaryColor) !important;background-size: 100%;background-position: 0 0;-webkit-appearance: none !important;text-decoration: none;transition: all ease 0.5s;background-repeat: no-repeat;}
.wp-activate-container form p input#submit :hover{background-size: 0%;}
.wp-activate-container {width: 100%;margin: 0 auto;max-width: 1720px;}
.wp-activate-container form{max-width: 750px;}


/* After Registration */

.mu_register {
    width: 100%;
    max-width: 600px;
    padding: 50px;
    background: var(--wdtTertiaryColor);
    box-shadow: rgba(var(--wdtBorderColorRgb),.25) 0 0 0 1px;
    border-radius: var(--wdtRadius_2X);
    margin: 2.8% auto !important;
}
.mu_register label, .mu_register legend, .mu_register .label-heading{
    font-weight: var(--wdtFontWeight_Base);
}
.wdt-custom-auth-form .mu_register .error{color: var(--wdtAccentTxtColor);font-family: var(--wdtFontTypo_Base);font-weight: calc(var(--wdtFontWeight_Base) + 100);background: var(--wdtHeadAltColor);}
.mu_register h2{font-size: var(--wdtFontSize_H4);text-align: center;margin-bottom: 30px;}
.mu_register form input{box-shadow: none;-webkit-box-shadow: none;line-height: 1;padding: var(--wdtInputPadding);}
.mu_register form input:focus{border-color: var(--wdtPrimaryColor);}
.mu_register form .wp-signup-username-description,
.mu_register form .wp-signup-email-description{margin-bottom: 15px;}
.mu_register p.submit{margin-top: 20px;}
.mu_register form p.submit input[type="submit"] {
    font-size: var(--wdtFontSize_Base);
    padding: var(--wdtPadding_Btn);
    font-family: var(--wdtFontTypo_Base);
    font-weight: var(--wdtFontWeight_Base);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: var(--wdtLetterSpacing_2X);
    border: 1px solid var(--wdtPrimaryColor);
    border-radius: 0;
    background-image: linear-gradient(130.86deg, var(--wdtHeadAltColor) 10%, var(--wdtPrimaryColor) 20%, var(--wdtSecondaryColor) 55%, var(--wdtPrimaryColor), var(--wdtHeadAltColor));
    background-color: var(--wdtPrimaryColor) !important;
    background-size: 300% 100%;
    background-position: 0 0;
    -webkit-appearance: none !important;
    appearance: none !important;
    text-decoration: none;
    transition: all ease 0.5s;
    background-repeat: no-repeat;
    color: var(--wdtAccentTxtColor);
}
.mu_register form p.submit input[type="submit"]:hover{background-position: 100%;}

.wdt-custom-auth-form .elementor-section.elementor-section-boxed>.elementor-container{
    max-width: 1780px;
}


@media only screen and (max-width:1540px) 
{
    .livi-pro-title.livi-pro-login-title h2 {font-size: var(--wdtFontSize_H3);}
    .livi-pro-login-form #loginform {margin-top: 0;}
    .livi-pro-social-logins-divider {margin-top: 20px;margin-bottom: 30px;}
    /* #loginform {display: grid;grid-template-columns: repeat(2,1fr);justify-content: space-between;grid-gap: 20px;} */
    /* #loginform .login-submit {margin-bottom: 0;grid-area: 3/1;} */
}
@media screen and (min-width: 768px) and (max-width: 1540px)
{
    .livi-pro-login-form-holder #loginform {grid-template-columns: repeat(2,1fr);}
}
@media screen and (min-width:1281px) and (max-width: 1540px)
{
    .livi-pro-login-form-container{max-width: 1080px;margin: auto;}
    .livi-pro-login-form-holder >*:not(:last-child),
    .livi-pro-login-form-container .livi-pro-login-form >*:not(:last-child) {margin-bottom: 20px;}
}
@media screen and (min-width:1025px) and (max-width: 1280px)
{
    .livi-pro-login-form-container{max-width: 900px;margin: auto;}    
}
@media screen and (min-width:768px) and (max-width: 1024px)
{
    .livi-pro-login-form-container{max-width: 710px;margin: auto;}    
}
@media screen and (max-width: 767px)
{
    /* #loginform .login-username, 
    #loginform .login-password{margin-bottom: 20px;} */
    .livi-pro-login-form-container {overflow: scroll;}
    .livi-pro-login-form-container .livi-pro-login-form .livi-pro-login-form-wrapper{padding: 30px;max-width: 420px;margin: 0 20px;width: calc(100% - 40px);}
    .livi-pro-title.livi-pro-login-title h2{font-size: var(--wdtFontSize_H4);}
    .wdt-registration-form{padding: 30px;}
    .wdt-registration-form .livi-custom-auth-sc-border-title h2{font-size: var(--wdtFontSize_H3);}
}
@media screen and (min-width:480px) and (max-width: 767px)
{
    .livi-pro-login-form-container{margin: auto;}    
}
@media screen and (max-width: 479px)
{
    a.livi-pro-social-facebook-connect, a.livi-pro-social-google-connect {padding: 10px;}
    .livi-pro-login-form-container{max-width: 100%;margin: auto;}    
    .livi-pro-title.livi-pro-login-title h2{font-size: var(--wdtFontSize_H4);}
    .wdt-registration-form .livi-custom-auth-sc-border-title h2{font-size: var(--wdtFontSize_H4);}
}

@media screen and (max-width: 479px)
{
    .livi-pro-login-form-container .livi-pro-login-form .livi-pro-login-form-wrapper {padding: 20px;margin: 0 15px;width: calc(100% - 30px);}
    .mu_register{padding: 30px;}
}
@media only screen and (min-width:1281px) and (max-width:1540px) { .wdt-registration-form { margin-bottom: 100px; } }
@media only screen and (min-width:1025px) and (max-width:1280px) { .wdt-registration-form { margin-bottom: 80px; } }
@media only screen and (min-width:768px) and (max-width:1024px) { .wdt-registration-form { margin-bottom: 70px; } }
@media only screen and (min-width:480px) and (max-width:767px) { .wdt-registration-form { margin-bottom: 60px; } }
@media only screen and (max-width: 479px) { .wdt-registration-form { margin-bottom: 60px; } }