/***<<--- Heading Transition --->>***/

.wdt-heading-holder
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

/***<<--- Heading Common --->>***/

.wdt-heading-holder
{
    position: relative;
}

.wdt-heading-holder > *:not(:last-child)
{
    margin-bottom: clamp(0.875rem, 0.8083rem + 0.3681vw, 1.25rem);
}

.wdt-heading-holder > *:last-child
{
    margin-bottom: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper
{
    line-height: var(--wdtLineHeight_Alt);
    margin-top: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title { text-transform: capitalize; }

.wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title .wdt-heading-title-item { margin: 0; }

.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start .wdt-heading-title .wdt-heading-title-inner,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline .wdt-heading-title .wdt-heading-title-inner
{
    line-height: 1;
}

.wdt-heading-holder .wdt-heading-subtitle-wrapper
{
    font-size: 1.2em;

    letter-spacing: .05em;
}

.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon-wrapper,
.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon
{
    line-height: 1;
}

/***<<--- Overall - Heading Separator --->>***/

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator
{
    display: flex;
    align-items: center;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-separator-line
{
    width: 50px;
    height: 2px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-left-part']
{
    margin-right: 5px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-right-part']
{
    margin-left: 5px;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-content-icon-wrapper
{
    line-height: 0;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon
{
    display: inline-block;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
    vertical-align: middle;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

/***<<--- Heading - Decorative Elements --->>***/

.wdt-heading-holder > .wdt-heading-deco-wrapper > span
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    white-space: break-spaces;
}

.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    width: 50px;
    height: 2px;
    align-self: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner
{
    display: inline-flex;
    align-items: baseline;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-left-part']
{
    margin-right: 5px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-right-part']
{
    margin-left: 5px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon span
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;
    line-height: 1;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-image
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span
{
    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span img
{
    display: inherit;

    height: 100%;

    object-fit: cover;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title { display: inline-block; }
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper { 
    padding-right: 10px; display: inline-block; background-image: linear-gradient(45deg, var(--wdtPrimaryColor) 0%, var(--wdtSecondaryColor) 25%, var(--wdtQuaternaryColor) 100%); -webkit-background-clip: text; background-clip: text; color: transparent; }
.wdt-last-child .wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper:last-child { padding-right: 0; }
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper .wdt-split-heading-title:first-child { 
    text-transform: uppercase; }
.wdt-inview-section .wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper { position: relative; perspective: 500px; }


/***<<--- Heading - Background Text Elements --->>***/

.wdt-heading-holder .wdt-heading-background-text-wrapper {
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
}

.wdt-heading-holder .wdt-heading-background-text-wrapper .wdt-heading-background-text {
    display: inline-block;
    text-wrap: nowrap;
    white-space: nowrap;
    font-family: var(--wdtFontTypo_Alt);
    font-size: clamp(3rem, 1.7546rem + 6.8712vw, 10rem);
    font-weight: 900;
    letter-spacing: 0;
    text-transform: capitalize;
    color: var(--wdtHeadAltColor);
    opacity: 0.02;
}


/* Default Colors */

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-separator-line,
.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line { background-color: var(--wdt-elementor-color-primary); }

.wdt-dark-bg .wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-separator-line,
.wdt-dark-bg .wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line { background-color: var(--wdtAccentTxtColor); }

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span
{
    color: var(--wdt-elementor-color-primary);
}


/* Custom icon section - home-1 */

.wdt-cus-support-icon-section .wdt-heading-holder h2.wdt-heading-title-wrapper .wdt-heading-title{font-size: clamp(1.125rem, 1.0385rem + 0.3846vw, 1.5rem);text-transform:capitalize;background: var(--wdtPrimaryColor);}
.wdt-cus-support-icon-section .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle{font-size:var(--wdtFontSize_Ext);text-transform:uppercase;transition:var(--wdtBaseTransition);color:var(--wdtHeadAltColor);letter-spacing: var(--wdtLetterSpacing_2X);}
.wdt-cus-support-icon-section .wdt-heading-holder:hover .wdt-heading-subtitle-wrapper .wdt-heading-subtitle{color:var(--wdtPrimaryColor);}
.wdt-cus-support-icon-section .wdt-heading-holder .wdt-heading-content-wrapper{color:var(--wdtHeadAltColor);}
.wdt-cus-support-icon-section .wdt-heading-holder .wdt-heading-subtitle-wrapper{ margin-bottom: 0; }